In [2]:
import pandas as pd

### Read File

In [ ]:
# Read data from CSV file into a dataframe

df = pd.read_csv("Sales_Records.csv")

# df = pd.read_excel("Sales_Records.xlsx")    # Open excel data

print(df)

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
1         Online              C   8/22/2012  963881480   9/15/2012
2        Offline              L    5/2/2014  341417157    5/8/2014
3         Online              C   6/20/2014  514321792    7/5/2014
4        Offline              L    2/1/2013  115456712    2/6/2013
..           ...            ...         ...        ...         ...
95        Online              M   7/26/2011  512878119    9/3/2011
96       Offline              L  11/11/2011  810711038  12/28/2011
97       Offline              C    6/1/2016  728815257   6/29/2016
98       Offline              M   7/30/2015  559427106    8/8/2015
99       Offline              L   2/10/2012  665095412   2/15/2012

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 14 columns]

### Save File

In [ ]:
data = {
    "Name" : ['Ram','Shyam','Ghanhyam'],
    "Age" : [20,30,40],
    "City" : ['Ahmedabad','Surat','Baroda']
}

df = pd.DataFrame(data)  # DataFrame is use for represent data into tabular format
print(df)

# Save data into CSV File
df.to_csv("output.csv",index=False)  # index=False is for Removing Index Number.

# df.to_excel("output.xlsx",index=False) # Save file into Excel Format

       Name  Age       City
0       Ram   20  Ahmedabad
1     Shyam   30      Surat
2  Ghanhyam   40     Baroda

### Display Rows

In [ ]:
# head() - is use for display first few rows
# tail() - is use for display last few rows

df = pd.read_csv('Sales_Records.csv')

print("First 5 Rows \n",df.head(5)) # This will display first 5 Rows
print("Last 5 Rows \n",df.tail(5)) # This will display first 5 Rows

First 5 Rows
                               Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50
Last 5 Rows
                 Region       Country      Item Type Sales Channel  \
95  Sub-Saharan Africa          Mali        Clothes        Online
96                Asia      Malaysia         Fruits       Offline
97  Sub-Saharan Africa  Sierra Leone     Vegetables       Offline
98       North America        Mexico  Personal Care       Offline
99  Sub-Saharan Africa    Mozambique      Household       Offline

   Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
95              M   7/26/2011  512878119    9/3/2011         888      109.28
96              L  11/11/2011  810711038  12/28/2011        6267        9.33
97              C    6/1/2016  728815257   6/29/2016        1485      154.06
98              M   7/30/2015  559427106    8/8/2015        5767       81.73
99              L   2/10/2012  665095412   2/15/2012        5367      668.27

    Unit Cost  Total Revenue  Total Cost  Total Profit
95      35.84       97040.64    31825.92      65214.72
96       6.92       58471.11    43367.64      15103.47
97      90.93      228779.10   135031.05      93748.05
98      56.67      471336.91   326815.89     144521.02
99     502.54     3586605.09  2697132.18     889472.91

### Getting data information

In [37]:
# info is used for checking all the dataset in any column any data is missing or not like that

df = pd.read_csv('Sales_Records.csv')

print("Display information of Data Set")
print(df.info())

Display information of Data Set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB
None

### Describe method

In [9]:
# describe() used for to find Numerical colums descriptive statistics.

data = {
    "Name" : ['Shiv','Ram','Shyam','Ghanshyam','Krishna','Jagdish','Raj','Mayur'],
    "Age" : [28,34,22,30,29,40,25,32],
    "Salary" : [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score" : [85,90,78,92,88,95,80,89]
}

df = pd.DataFrame(data)
print(df)

print("Descriptive Statistics..")
print(df.describe())

        Name  Age  Salary  Performance Score
0       Shiv   28   50000                 85
1        Ram   34   60000                 90
2      Shyam   22   45000                 78
3  Ghanshyam   30   52000                 92
4    Krishna   29   49000                 88
5    Jagdish   40   70000                 95
6        Raj   25   48000                 80
7      Mayur   32   58000                 89
Descriptive Statistics..
             Age        Salary  Performance Score
count   8.000000      8.000000           8.000000
mean   30.000000  54000.000000          87.125000
std     5.529144   8194.074514           5.817154
min    22.000000  45000.000000          78.000000
25%    27.250000  48750.000000          83.750000
50%    29.500000  51000.000000          88.500000
75%    32.500000  58500.000000          90.500000
max    40.000000  70000.000000          95.000000

In [10]:
# Shape() - This retuens size of Dataset, How many rows and columns are in Dataset.
# Column() - This returns all the column name which is in Dataset.

print(df)
print(f'Shape : {df.shape}')
print(f'Columns Names : {df.columns}')

        Name  Age  Salary  Performance Score
0       Shiv   28   50000                 85
1        Ram   34   60000                 90
2      Shyam   22   45000                 78
3  Ghanshyam   30   52000                 92
4    Krishna   29   49000                 88
5    Jagdish   40   70000                 95
6        Raj   25   48000                 80
7      Mayur   32   58000                 89
Shape : (8, 4)
Columns Names : Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

### Filtering columns

In [19]:
data = {
    "Name" : ['Shiv','Ram','Shyam','Ghanshyam','Krishna','Jagdish','Raj','Mayur'],
    "Age" : [28,34,22,30,29,40,25,32],
    "Salary" : [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score" : [85,90,78,92,88,95,80,89]
}

df = pd.DataFrame(data)

# Print Data freame
print(df)

print()

# Single column return series and multiple columns return dataframe

# Single column access
print("Name of employee \n",df["Name"])

# Selecting multiple columns
subset = df[["Name","Salary"]]
print("\nSubset with name and Salary \n",subset)

        Name  Age  Salary  Performance Score
0       Shiv   28   50000                 85
1        Ram   34   60000                 90
2      Shyam   22   45000                 78
3  Ghanshyam   30   52000                 92
4    Krishna   29   49000                 88
5    Jagdish   40   70000                 95
6        Raj   25   48000                 80
7      Mayur   32   58000                 89

Name of employee
 0         Shiv
1          Ram
2        Shyam
3    Ghanshyam
4      Krishna
5      Jagdish
6          Raj
7        Mayur
Name: Name, dtype: object

Subset with name and Salary
         Name  Salary
0       Shiv   50000
1        Ram   60000
2      Shyam   45000
3  Ghanshyam   52000
4    Krishna   49000
5    Jagdish   70000
6        Raj   48000
7      Mayur   58000

In [34]:
print(df)

print()

# Single Condition.

high_salary = df[df["Salary"] > 50000]
print("\nEmployee with salary > 50K :->\n",high_salary)
print()

# Multiple Condition

filtered = df[(df["Salary"] > 50000) & (df["Age"] > 30)]
print("Employee salary > 50K and age > 30 :->\n",filtered)
print()

# Using OR condition

filtered_or = df[(df["Age"] > 30) | (df["Performance Score"] > 90)]
print("Employee age > 30 OR performance score > 90 :-> \n",filtered_or)

        Name  Age  Salary  Performance Score
0       Shiv   28   50000                 85
1        Ram   34   60000                 90
2      Shyam   22   45000                 78
3  Ghanshyam   30   52000                 92
4    Krishna   29   49000                 88
5    Jagdish   40   70000                 95
6        Raj   25   48000                 80
7      Mayur   32   58000                 89


Employee with salary > 50K :->
         Name  Age  Salary  Performance Score
1        Ram   34   60000                 90
3  Ghanshyam   30   52000                 92
5    Jagdish   40   70000                 95
7      Mayur   32   58000                 89

Employee salary > 50K and age > 30 :->
       Name  Age  Salary  Performance Score
1      Ram   34   60000                 90
5  Jagdish   40   70000                 95
7    Mayur   32   58000                 89

Employee age > 30 OR performance score > 90 :->
         Name  Age  Salary  Performance Score
1        Ram   34   60000                 90
3  Ghanshyam   30   52000                 92
5    Jagdish   40   70000                 95
7      Mayur   32   58000                 89