In [2]:
import pandas as pd

### Melt Function :    
    Pandas melt() function is useful to massage a DataFrame into a format where one or more columns are identifier variables, while all other columns, considered measured variables.

### Parameters:

    frame: The DataFrame to melt.

    id_vars: Column(s) to keep as identifier variables.

    value_vars: Column(s) to unpivot; if None, uses all columns not in id_vars.  pivot: An interactive way to quickly summarize large amounts of data.

    var_name: Name for the ‘variable’ column.

    value_name: Name for the ‘value’ column.

    ignore_index: If True, original index is ignored.

In [5]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Math': [85, 90],
    'Science': [95, 80]
})

print(df)

    Name  Math  Science
0  Alice    85       95
1    Bob    90       80

In [4]:
melted_df = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')
print(melted_df)

    Name  Subject  Score
0  Alice     Math     85
1    Bob     Math     90
2  Alice  Science     95
3    Bob  Science     80