In [16]:
import pandas as pd
import numpy as np

## Basic

In [6]:
# Create a DataFrame using a dictionary with columns Name, Age, and City.

data= pd.DataFrame({
    "Name" : ['Shiv','Ram','Laxman','Krishna','Ganesh'],
    "Age" : [34,23,45,32,20],
    "City" : ['Ahmedabad','Surat','Vadodara','Mumbai','Rajkot']
})
print(data)
print()

# Load a CSV file named Employee_data.csv into a DataFrame.

df = pd.read_csv('Employee_data.csv')
print("Load Employee_data.CSV file:-> \n")
print(df)
print()

# Display the first 5 rows of the DataFrame.

print("First 5 rows :-> \n",df.head(5))
print()

      Name  Age       City
0     Shiv   34  Ahmedabad
1      Ram   23      Surat
2   Laxman   45   Vadodara
3  Krishna   32     Mumbai
4   Ganesh   20     Rajkot

Load Employee_data.CSV file:->

      Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   70000
2  Charlie    Finance   29   65000
3    David         IT   35   72000
4      Eva    Finance   40   80000
5    Frank         HR   26   52000
6    Grace         IT   28   69000
7      Eva    Finance   38   77000
8      Ian         HR   32   54000
9     Jane         IT   31   71000

First 5 rows :->
       Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   70000
2  Charlie    Finance   29   65000
3    David         IT   35   72000
4      Eva    Finance   40   80000

In [19]:
# Get the number of rows and columns in the DataFrame.
rows,columns = df.shape
print("Rows are :-> ",rows)
print("Columns are :->",columns)

# Get the column names and data types.

print(df.dtypes)
print()
print(df.info)
print()

# Show a statistical summary using .describe().

print("Statistic summary of Data Set :-> \n",df.describe())

Rows are :->  10
Columns are :-> 4
Name          object
Department    object
Age            int64
Salary         int64
dtype: object

<bound method DataFrame.info of       Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   70000
2  Charlie    Finance   29   65000
3    David         IT   35   72000
4      Eva    Finance   40   80000
5    Frank         HR   26   52000
6    Grace         IT   28   69000
7      Eva    Finance   38   77000
8      Ian         HR   32   54000
9     Jane         IT   31   71000>

Statistic summary of Data Set :->
              Age        Salary
count  10.000000     10.000000
mean   31.400000  66000.000000
std     4.948625  10540.925534
min    25.000000  50000.000000
25%    28.250000  56750.000000
50%    30.500000  69500.000000
75%    34.250000  71750.000000
max    40.000000  80000.000000

In [13]:
# Select a single column (e.g., Age) from the DataFrame.

single_column = df['Age']
print("Single Column Data:-> \n",single_column)
print()

# Select multiple columns (Name, Age) from the DataFrame.
multiple_columns = df[['Age','Name']]
print("Multiple Columns Data :-> ",multiple_columns)
print()

Single Column Data:->
 0    25
1    30
2    29
3    35
4    40
5    26
6    28
7    38
8    32
9    31
Name: Age, dtype: int64

Multiple Columns Data :->     Age     Name
0   25    Alice
1   30      Bob
2   29  Charlie
3   35    David
4   40      Eva
5   26    Frank
6   28    Grace
7   38      Eva
8   32      Ian
9   31     Jane

In [14]:
# Select rows where Age is greater than 30.

selection_row = df[df["Age"] > 30]
print("Age Greater than 30 :-> \n",selection_row)
print()

# Select rows using index positions with .iloc[].

select_row_indexPosition = df.iloc[3]
print("Select Row using Index Position :-> \n",select_row_indexPosition)
print()

select_multiRow_indexPosition = df.iloc[:4]
print("Select Multiple Row Using Index Position :-> \n",select_multiRow_indexPosition)
print()

Age Greater than 30 :->
     Name Department  Age  Salary
3  David         IT   35   72000
4    Eva    Finance   40   80000
7    Eva    Finance   38   77000
8    Ian         HR   32   54000
9   Jane         IT   31   71000

Select Row using Index Position :->
 Name          David
Department       IT
Age              35
Salary        72000
Name: 3, dtype: object

Select Multiple Row Using Index Position :->
       Name Department  Age  Salary
0    Alice         HR   25   50000
1      Bob         IT   30   70000
2  Charlie    Finance   29   65000
3    David         IT   35   72000

In [32]:

# Rename a column from Name to Full_Name.

rename_column = df.rename(columns={"Name" : "Full_Name"},inplace=False)
print("Rename Column Name:-> \n",rename_column)
print()


# Add a new column Salary with random values.
data["Salary"] = np.random.randint(15000,50000,size=len(data))
print("Generate Random Salary :-> \n",data)

Rename Column Name:->
   Full_Name Department  Age  Salary   Bonus
0     Alice         HR   25   50000  2500.0
1       Bob         IT   30   70000  3500.0
2   Charlie    Finance   29   65000  3250.0
3     David         IT   35   72000  3600.0
4       Eva    Finance   40   80000  4000.0
5     Frank         HR   26   52000  2600.0
6     Grace         IT   28   69000  3450.0
7       Eva    Finance   38   77000  3850.0
8       Ian         HR   32   54000  2700.0
9      Jane         IT   31   71000  3550.0

Generate Random Salary :->
       Name  Age       City  Salary
0     Shiv   34  Ahmedabad   40294
1      Ram   23      Surat   42131
2   Laxman   45   Vadodara   20336
3  Krishna   32     Mumbai   31284
4   Ganesh   20     Rajkot   35243

In [34]:
# Drop the column City from the DataFrame.
drop_data= pd.DataFrame({
    "Name" : ['Shiv','Ram','Laxman','Krishna','Ganesh'],
    "Age" : [34,23,45,32,20],
    "City" : ['Ahmedabad','Surat','Vadodara',None,'Rajkot']
})
print(drop_data)
print()

drop_data.dropna(axis=1, inplace=True)
print("Drop City Column :-> \n",drop_data)
print()

# Sort the DataFrame by Age in descending order.
sort_age = drop_data.sort_values(by="Age",ascending=False,inplace=True)
print("After Sorting Data by Age :-> \n",drop_data)

      Name  Age       City
0     Shiv   34  Ahmedabad
1      Ram   23      Surat
2   Laxman   45   Vadodara
3  Krishna   32       None
4   Ganesh   20     Rajkot

Drop City Column :->
       Name  Age
0     Shiv   34
1      Ram   23
2   Laxman   45
3  Krishna   32
4   Ganesh   20

After Sorting Data by Age :->
       Name  Age
2   Laxman   45
0     Shiv   34
3  Krishna   32
1      Ram   23
4   Ganesh   20